:root{
    --primary: purple;
    --secondry: gold;
    --font : white;
    --base: rgb(214, 214, 214);
}

.title{
    font-family: 'Dancing Script';
    text-align: center;
    align-self: center;
    font-weight: 800;
    font-size: 3rem;
}

.judge-back{
    background-color: var(--base);
    margin:5rem;
}

.card{
    width: 18rem;
    margin: auto !important;
    
}

.card-img-top {
    width: 20rem; 
    align-self: center;
}

.card-body{
    text-align: center !important;
    background-color: var(--primary);
}
.icon-grid{
    font-size:x-large;
    align-items: center !important;
}

.judge-title{
    color: var(--secondry);
    font-size: 3rem;
    font-family:'Dancing Script';
    font-weight: 800;
}

.judge-details{
    color: var(--font) ;
}