.back-img{
    min-height: 500px !important;
    max-height: 950px !important;
    position:sticky;
    object-fit: cover;
}

.card-img-overlay{
    margin:0 !important;
    padding: 0 !important;
}

#welcome-card{
    width:100% !important;
    margin:0 !important;
    padding: 0 !important;
}
.register{
    margin-bottom: 10% !important;
    color:gold ;
    font-size: 2rem;
    border-radius: 1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    background-color: purple;
    border: none;
}

.navbar{
    opacity: 0.9;
    width: 100%;
    margin:0 !important;
}

@media (max-width: 991.98px){
    .navbar-nav{
        position:absolute;
        margin:0 !important;
        background-color: black;
        width: 97% ;
    }
}


.nav-link{
    color:white !important;
    font-size: 2rem;
    font-family: 'Dancing Script';
    font-weight: 500;
}

#main-heading{
    font-family: 'Satisfy';
    margin-top: 11rem;
    font-size: 4rem;
}

.icon-images{
    margin-top: 1rem;
    border-radius: 50%;
}